.tree-node-expander {
	line-height: 22px;
	width: 22px;
	.is-expanded {
        transform: rotate(90deg);
    }

	.mat-icon-button, .placeholder { 
		height: 22px;
		width: 22px;
		line-height: 22px;
	}
}