<button mat-raised-button (click)="addNode()">Add</button>
<button mat-raised-button (click)="removeNode()">Remove</button>
<button mat-raised-button (click)="updateNode()">Update</button>
<button mat-raised-button (click)="expandAll()">Expand All</button>

<tree-root *ngIf="root$ | async">
    <ng-template let-node$="node$" #treeNodeContent>
        <span>bublil</span>
        <span> {{ (node$ | async | notNull : { data: { display: 'default' } } )['data']['display'] }} </span>
    </ng-template>
</tree-root>