.tree-node-wrapper {
    display: flex;
	height: 100%;
	line-height: 22px;
	align-items: center;
	transition: background-color 0.4s;

	.tree-node-content-wrapper {
		flex-grow: 1;
	}

	&.selected:not(.drag-over) {
        background-color: cornflowerblue;
    }
    &:hover:not(.selected) {
        background-color: lighten($color: rgb(100, 149, 237), $amount: 20);
    }
}