.tree-node-collection {
    height: 100%;
    mat-list-item, .mat-list-item-content, tree-node {
        width: 100%;
    }

    .mat-list-item {
        height: auto;
    }
}

tree-node {
	
	&.checked {
		background-color: #a7a3a5;
	}

	&:not(.checked) {
		background: none;
	}
}